In [65]:
import pandas as pd

In [66]:
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[2]

In [67]:
const

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.11%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,4.37%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,3.89%
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26,NaN,3.21%
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,3.25%
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,2.46%
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,NaN,5.13%
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.14%
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.83%
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,0.88%
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,1.55%
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-23,NaN,8.84%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,5.67%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,3.07%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,3.54%
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,2.09%
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,3.67%
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,3.97%
18,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.35%
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.68%
20,Nike,NYSE,NKE,Clothing industry,2013-09-23,NaN,1.07%
21,Nvidia,NASDAQ,NVDA,Information technology,2024-11-08,NaN,1.71%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.29%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,4.70%
24,Sherwin-Williams,NYSE,SHW,Specialty chemicals,2024-11-08,NaN,5.00%
25,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.41%
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,7.47%
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.54%
28,Visa,NYSE,V,Financial services,2013-09-23,NaN,4.70%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,1.35%

In [68]:
const = const.iloc[:,:5].copy()

In [69]:
const

,Company,Exchange,Symbol,Industry,Date added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-23
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
17,McDonald's,NYSE,MCD,Food industry,1985-10-30
18,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
20,Nike,NYSE,NKE,Clothing industry,2013-09-23
21,Nvidia,NASDAQ,NVDA,Information technology,2024-11-08
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Sherwin-Williams,NYSE,SHW,Specialty chemicals,2024-11-08
25,Travelers,NYSE,TRV,Insurance,2009-06-08
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08
28,Visa,NYSE,V,Financial services,2013-09-23
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [70]:
const.rename(columns = {"Date added" : "Date_Added" } , inplace = True)

In [71]:
const.Date_Added = pd.to_datetime(const.Date_Added)

In [72]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

# Normalizing Unicode Strings and Getting the Ticker Symbols

In [73]:
const.Symbol

0      MMM
1      AXP
2     AMGN
3     AMZN
4     AAPL
5       BA
6      CAT
7      CVX
8     CSCO
9       KO
10     DIS
11      GS
12      HD
13     HON
14     IBM
15     JNJ
16     JPM
17     MCD
18     MRK
19    MSFT
20     NKE
21    NVDA
22      PG
23     CRM
24     SHW
25     TRV
26     UNH
27      VZ
28       V
29     WMT
Name: Symbol, dtype: object

In [74]:
import unicodedata

In [75]:
const.Symbol.apply(lambda x : unicodedata.normalize("NFKD", x))

0      MMM
1      AXP
2     AMGN
3     AMZN
4     AAPL
5       BA
6      CAT
7      CVX
8     CSCO
9       KO
10     DIS
11      GS
12      HD
13     HON
14     IBM
15     JNJ
16     JPM
17     MCD
18     MRK
19    MSFT
20     NKE
21    NVDA
22      PG
23     CRM
24     SHW
25     TRV
26     UNH
27      VZ
28       V
29     WMT
Name: Symbol, dtype: object

In [76]:
import yfinance as yf

In [77]:
yf.download("^DJI",multi_level_index=False)

[*********************100%***********************]  1 of 1 completed

                   Close          High           Low          Open     Volume
Date
1992-01-02   3172.399902   3172.629883   3139.310059   3152.100098   23550000
1992-01-03   3201.500000   3210.639893   3165.919922   3172.399902   23620000
1992-01-06   3200.100098   3213.330078   3191.860107   3201.500000   27280000
1992-01-07   3204.800049   3210.199951   3184.479980   3200.100098   25510000
1992-01-08   3203.899902   3229.199951   3185.820068   3204.800049   29040000
...                  ...           ...           ...           ...        ...
2025-05-08  41368.449219  41773.218750  41167.761719  41312.570312  514850000
2025-05-09  41249.378906  41512.429688  41150.730469  41405.480469  373930000
2025-05-12  42410.101562  42418.050781  41899.050781  41899.050781  653810000
2025-05-13  42140.429688  42507.328125  42132.039062  42507.328125  729860000
2025-05-14  42051.058594  42254.750000  41952.859375  42150.089844  660230000

[8402 rows x 5 columns]

In [78]:
dji = yf.download("^DJI",start = "2007-01-01" , end = "2020-03-30", multi_level_index= False)

[*********************100%***********************]  1 of 1 completed

In [79]:
dji

                   Close          High           Low          Open     Volume
Date
2007-01-03  12474.519531  12580.349609  12404.820312  12459.540039  327200000
2007-01-04  12480.690430  12510.410156  12403.860352  12473.160156  259060000
2007-01-05  12398.009766  12480.129883  12365.410156  12480.049805  235220000
2007-01-08  12423.490234  12445.919922  12337.370117  12392.009766  223500000
2007-01-09  12416.599609  12466.429688  12369.169922  12424.769531  225190000
...                  ...           ...           ...           ...        ...
2020-03-23  18591.929688  19121.009766  18213.650391  19028.359375  787970000
2020-03-24  20704.910156  20737.699219  19649.250000  19722.189453  799340000
2020-03-25  21200.550781  22019.929688  20538.339844  21050.339844  796320000
2020-03-26  22552.169922  22595.060547  21427.099609  21468.380859  705180000
2020-03-27  21636.779297  22327.570312  21469.269531  21898.470703  588830000

[3332 rows x 5 columns]

In [80]:
dji.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3332 entries, 2007-01-03 to 2020-03-27
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   3332 non-null   float64
 1   High    3332 non-null   float64
 2   Low     3332 non-null   float64
 3   Open    3332 non-null   float64
 4   Volume  3332 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 156.2 KB

In [81]:
dji.to_csv("dji1.csv")

In [82]:
ticker_list = list(const.Symbol)

In [83]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AMZN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'GS',
 'HD',
 'HON',
 'IBM',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'NVDA',
 'PG',
 'CRM',
 'SHW',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WMT']

In [84]:
prices = yf.download(ticker_list,start = "2007-01-01" , end = "2020-03-30",multi_level_index= False)

[*********************100%***********************]  30 of 30 completed

1 Failed download:
['NKE']: YFPricesMissingError('possibly delisted; no price data found  (1d 2007-01-01 -> 2020-03-30)')

In [86]:
prices.dropna(axis = 1)

Price           Close                                                \
Ticker           AAPL        AMGN       AMZN        AXP          BA
Date
2007-01-03   2.518541   47.716419   1.935000  45.495552   64.405731
2007-01-04   2.574442   49.760441   1.945000  45.163891   64.665718
2007-01-05   2.556109   49.879025   1.918500  44.568451   64.391289
2007-01-08   2.568731   49.481392   1.875000  44.990543   64.239594
2007-01-09   2.782116   49.718571   1.889000  44.704132   63.560654
...               ...         ...        ...        ...         ...
2020-03-23  54.378582  159.449295  95.141502  64.236267  105.620003
2020-03-24  59.834137  173.522141  97.004997  78.292633  127.680000
2020-03-25  59.504524  165.632416  94.292000  83.993408  158.729996
2020-03-26  62.635822  170.220459  97.774498  86.899696  180.550003
2020-03-27  60.042572  170.031769  95.004997  82.652039  162.000000

Price                                                                ...  \
Ticker            CAT         CRM       CSCO        CVX         DIS  ...
Date                                                                 ...
2007-01-03  37.844566    8.953345  18.256798  35.178638   27.971546  ...
2007-01-04  37.745564    9.402627  18.737417  34.836609   28.192375  ...
2007-01-05  37.262905    9.809709  18.743999  34.970459   27.963371  ...
2007-01-08  37.306248    9.911481  18.849348  35.416569   28.216911  ...
2007-01-09  37.510422    9.918925  18.743999  35.010105   28.176010  ...
...               ...         ...        ...        ...         ...  ...
2020-03-23  82.180496  139.520279  29.426973  43.437885   84.713478  ...
2020-03-24  90.671463  152.546936  32.828941  53.315956   96.922653  ...
2020-03-25  93.650894  146.013748  32.037991  55.495064   99.500809  ...
2020-03-26  98.867126  153.629166  34.512924  61.191177  104.074310  ...
2020-03-27  94.339851  144.961273  33.016048  55.102505   95.223648  ...

Price         Volume                                                     \
Ticker           MMM       MRK      MSFT        NVDA        PG      SHW
Date
2007-01-03   4522674  15740226  76935100  1154820000   9717900  2683800
2007-01-04   3550206  13115930  45774500   797298000   8711400  2011500
2007-01-05   3307179  11168431  44607200  1243344000   9907900  3147000
2007-01-08   2911662   7384522  50220200   657270000  11068200  3131400
2007-01-09   2268573   9037114  44636600   764166000  10823800  2774100
...              ...       ...       ...         ...       ...      ...
2020-03-23   9489423  18375003  78975200   643876000  17776800  2876700
2020-03-24  11136793  19901939  82516700  1101644000  14625500  3735300
2020-03-25   9260030  18311494  75638200   793432000  13789100  2766900
2020-03-26   8033532  18052848  64568100   696108000  15796000  2562900
2020-03-27   5097711  12467218  57042300   638828000  16073100  1990500

Price
Ticker          TRV       UNH        VZ        WMT
Date
2007-01-03  3432800   8360300  21445850  107061900
2007-01-04  2068200   5152500  19215860   51219000
2007-01-05  2104600   6215700  19047041   40670700
2007-01-08  2440900   4344100  20370917   49189200
2007-01-09  1319500   5483900  16281352   43929600
...             ...       ...       ...        ...
2020-03-23  4915700  10654500  39225100   39366000
2020-03-24  4293300   8894400  40626900   42705000
2020-03-25  4151400  10014000  38551300   53287500
2020-03-26  4610600   7517600  32610900   58250700
2020-03-27  3085400   4879500  25363600   36160500

[3332 rows x 140 columns]

In [87]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3332 entries, 2007-01-03 to 2020-03-27
Columns: 151 entries, ('Adj Close', 'NKE') to ('Volume', 'WMT')
dtypes: float64(123), int64(28)
memory usage: 3.9 MB

In [88]:
prices = prices.loc[:,"Close"].copy()

In [89]:
prices

Ticker,AAPL,AMGN,AMZN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,...,MSFT,NKE,NVDA,PG,SHW,TRV,UNH,V,VZ,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,2.518541,47.716419,1.935000,45.495552,64.405731,37.844566,8.953345,18.256798,35.178638,27.971546,...,21.235313,NaN,0.551423,38.144581,16.635975,34.604225,41.722095,NaN,13.829606,10.773330
2007-01-04,2.574442,49.760441,1.945000,45.163891,64.665718,37.745564,9.402627,18.737417,34.836609,28.192375,...,21.199743,NaN,0.548825,37.854980,16.551962,34.313431,41.991924,NaN,13.906396,10.825440
2007-01-05,2.556109,49.879025,1.918500,44.568451,64.391289,37.262905,9.809709,18.743999,34.970459,27.963371,...,21.078842,NaN,0.514437,37.529922,16.265808,33.867546,41.706207,NaN,13.668720,10.737080
2007-01-08,2.568731,49.481392,1.875000,44.990543,64.239594,37.306248,9.911481,18.849348,35.416569,28.216911,...,21.285076,NaN,0.518259,37.612682,16.197559,33.615547,42.317329,NaN,13.607720,10.648718
2007-01-09,2.782116,49.718571,1.889000,44.704132,63.560654,37.510422,9.918925,18.743999,35.010105,28.176010,...,21.306417,NaN,0.508172,37.518089,16.355072,33.531517,41.809395,NaN,13.663169,10.737080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-23,54.378582,159.449295,95.141502,64.236267,105.620003,82.180496,139.520279,29.426973,43.437885,84.713478,...,130.157135,NaN,5.297731,85.807838,126.534088,79.250473,181.063751,130.781387,37.309296,35.315239
2020-03-24,59.834137,173.522141,97.004997,78.292633,127.680000,90.671463,152.546936,32.828941,53.315956,96.922653,...,141.987900,NaN,6.206632,90.699860,144.817261,84.075806,204.238007,148.884979,37.071976,35.546997
2020-03-25,59.504524,165.632416,94.292000,83.993408,158.729996,93.650894,146.013748,32.037991,55.495064,99.500809,...,140.628677,NaN,6.117959,88.635910,144.064484,82.676636,217.887955,155.870132,37.034904,33.807198
2020-03-26,62.635822,170.220459,97.774498,86.899696,180.550003,98.867126,153.629166,34.512924,61.191177,104.074310,...,149.425217,NaN,6.407393,94.309608,148.683136,88.497559,237.308212,162.710785,39.704620,33.936993
2020-03-27,60.042572,170.031769,95.004997,82.652039,162.000000,94.339851,144.961273,33.016048,55.102505,95.223648,...,143.289658,NaN,6.295059,96.759979,146.616211,89.645599,225.284348,155.658188,39.133595,33.862827

In [90]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3332 entries, 2007-01-03 to 2020-03-27
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3332 non-null   float64
 1   AMGN    3332 non-null   float64
 2   AMZN    3332 non-null   float64
 3   AXP     3332 non-null   float64
 4   BA      3332 non-null   float64
 5   CAT     3332 non-null   float64
 6   CRM     3332 non-null   float64
 7   CSCO    3332 non-null   float64
 8   CVX     3332 non-null   float64
 9   DIS     3332 non-null   float64
 10  GS      3332 non-null   float64
 11  HD      3332 non-null   float64
 12  HON     3332 non-null   float64
 13  IBM     3332 non-null   float64
 14  JNJ     3332 non-null   float64
 15  JPM     3332 non-null   float64
 16  KO      3332 non-null   float64
 17  MCD     3332 non-null   float64
 18  MMM     3332 non-null   float64
 19  MRK     3332 non-null   float64
 20  MSFT    3332 non-null   float64
 21  NKE     0 non-null      float64
 22  NVDA    3332 non-null   float64
 23  PG      3332 non-null   float64
 24  SHW     3332 non-null   float64
 25  TRV     3332 non-null   float64
 26  UNH     3332 non-null   float64
 27  V       3028 non-null   float64
 28  VZ      3332 non-null   float64
 29  WMT     3332 non-null   float64
dtypes: float64(30)
memory usage: 807.0 KB